/* --- Import all necessary files --- */
@import url("main.css");
@import url("global.css");
@import url("animations.css");
@import url("header.css");
@import url("footer.css");
@import url("cart-page.css");
@import url("review-page.css");
@import url("donation-page.css");
@import url("subscriptions-page.css");
@import url("onboarding-page.css");
@import url("acdc-page.css");

/* --- CSS Reset & Variables --- */
*, 
*::before, 
*::after { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}
html { 
  scroll-behavior: smooth; 
}
body {
  font-family: var(--display);
  background: var(--primary-fg);
  color: var(--fg);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
img { 
  display: block; 
  max-width: 100%; 
}
a { 
  color: #3D95CE;
  text-decoration: none;
}
button { 
  cursor: pointer; 
  border: none; 
  background: none; 
}
h1, h2, h3, h4 { 
  letter-spacing: -0.025em; 
}

/* --- Layout --- */
.container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
@media (min-width: 40rem)  { 
  .container { 
    padding-inline: 1.5rem; 
  } 
}
@media (min-width: 64rem) { 
  .container { 
    padding-inline: 2rem;   
  } 
}